body {
    font-family: "papyrus", sans-serif, "comic sans"

}

h1 {
    padding: 10px;
    background-color: goldenrod;
}

h2 {
    border-bottom: 2px solid black
    
}

figure {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}
figcaption {
    margin-top: 10px;
}

figure img {
    width: 500px;
}
