body {
    font-family: "papyrus", sans-serif, "comic sans"
   
}

h1 {
    padding: 10px;
    background-color: rgb(41, 33, 14);
}

h2 {
    border-bottom: 2px solid rgb(0, 0, 0)
    
}

figure {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(218, 218, 218);
}
figcaption {
    margin-top: 10px;
}

figure img {
    width: 800px;
}
